{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}FleekZ{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% block extra_css %}{% endblock extra_css %} 
</head>
<body>
    {% include 'includes/navbar.html' %}

    <div class="layout">
        {% include 'includes/sidebar.html' %}

        <main class="main-content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block content %}{% endblock content %}
        </main>
        {% block extra_js %}{% endblock extra_js %}
    </div>
</body>
</html>